@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  padding: 0;
  text-decoration: none;
  margin: 0;
  border: none;
}
body{
  background: linear-gradient(254deg, rgb(91, 38, 110) 8%, rgb(31, 52, 128) 32%, rgb(68, 84, 175) 53%, rgba(107,112,160,1) 81%, rgba(194, 67, 156, 0.759) 99%); 
  
}

.topo{
  padding: 40px;
  background-color: rgba(49, 41, 85, 0.84);
  margin-bottom: 7px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  
 
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
}


.topo h1{
font-size: 45px;
font-family: 'Righteous', cursive;
color: white;

}

.topo nav{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 18px;

}

nav a{
  color: white;
}



/* .jogos{
  background-color: rgba(49, 41, 85, 0.84);
  padding: 15px;
  margin: 4%;
  margin-top: 10px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
} */

.card{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  /* border-bottom: 2px solid #fff;   */
  margin: 10px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: rgba(218, 218, 218, 0.719);
  border-radius: 5px;
  width: 80%;
  backdrop-filter: blur(15px);
 

}

 .card button{
  padding: 10px 40px;
  border-radius: 7px;
  position: relative;
  background-color: rgba(39, 23, 110, 0.916);
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
 
} 

.card button:hover{
  background-color: rgba(18, 18, 42, 0.851);
  transition: 1s ease-in-out;
}
.card .info-cards{
  width:100%;
  margin-left: 15px;
}

.card a{
  color: rgb(255, 255, 255);
  
}



.card p{
  font-size: 18px;
}
.image-game{
width: 40%;
max-height: 100%;


}

.hr{
 background-color: #463535;
 height: 2px;
  width: 98%;
}

.chat-texto, .jogos{
  background-color: rgba(49, 41, 85, 0.84);
  padding: 15px;
margin-top: 10px;
margin-left: 4%;
margin-right: 4%;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white; 
  text-align: center;
  border-radius: 7px;

}

footer{
  padding: 40px;
  background-color: rgba(49, 41, 85, 0.84);
  text-align: center;
  margin-top: 15px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
@media (max-width: 700px) {
  .card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center  ;

  }

  .topo h1{
    font-size: 25px;
  }

  .image-game{
    width: 100%;
  }

  .card p{
    width: 100%;
  }

  

  .topo{
    gap: 50px;
  }
  
}